.welcome-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.welcome-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.welcome-container p {
    font-size: 1.5rem;
    max-width: 600px;
}
